/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require morris
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


body {
  background-image: image-url("background.png");
}

.login {
  width: 400px;
}

.main-content-box {
  background-color: #FFFFFF;
  border: 1px solid #D4D4D4;
  border-radius: 6px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
  margin-top: 1em;
  padding: 30px 50px;
}

#navigation {
  margin-top: 1em;
}

.tab-content {
  padding-top: 2em;
}

.margin-top-2 {
  margin-top: 2em;
}

h1, h2, h3 {
  margin-top: 0;
}

.header-login {
  margin: 0 auto;
}